*.user
MathStat.App/bin/
MathStat.App/obj
MathStat.Styles/bin/
MathStat.Styles/obj/
MathStat.Localization/bin/
MathStat.Localization/obj/
MathStat.Infrastructure/obj/
MathStat.Infrastructure/bin/
.vs/
